.attribution {
    font-size: 11px;
    display: flex;
    margin: 0 auto;
    font-family: 'Lexend Deca', sans-serif;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  /* OWN CSS */


  main {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1440px;
      color: white;
      margin-top: 175px;
  }

  h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    padding-top: 10px;
    font-size: 40px;
  }

  p {
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    padding-top: 10px;
    padding-right: 20px;
    line-height: 30px;
  }

  div {
    max-width: 300px;
    height: 450px;
    padding: 75px 40px;
  }

  button {
   margin: 100px auto;
   background-color: white;
   color: white;
   box-shadow: none;
   text-decoration: none;
   width: 150px;
   padding: 15px;
   border-radius: 25px;
   border-color: white;
   font-family: 'Lexend Deca', sans-serif;
   font-size: 17px;
  }

  .button1 {
    color: hsl(31, 77%, 52%);
  }

  .button2 {
    color: hsl(184, 100%, 22%);
  }

  .button3 {
    color: hsl(179, 100%, 13%);
  }

  .sedans {
    background-color:hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .suvs {
    background-color: hsl(184, 100%, 22%);
  }

  .luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @media only screen and (max-width: 741px) {
      main {
        flex-wrap: wrap;
      }

      button {
        margin-top: 10px;
      }

      div {
        height: 350px;
      }

      .sedans {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
      }

      .luxury {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
      }

  }